HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified

IS_MAINNET=tobemodified

# Twitter
TWITTER_CLIENT_ID=tobemodified
TWITTER_CLIENT_SECRET=tobemodified
TWITTER_CONNECT_CALLBACK=tobemodified
TWITTER_FIRST_SPIN_CALLBACK=tobemodified

TWITTER_FOLLOWERS_THRESHOLD=tobemodified # DateBase priority

# Database
DATABASE_CLIENT=tobemodified
DATABASE_HOST=tobemodified
DATABASE_PORT=tobemodified
DATABASE_NAME=tobemodified
DATABASE_USERNAME=tobemodified
DATABASE_PASSWORD=tobemodified
DATABASE_SSL=false
# For sqlite
DATABASE_FILENAME=tobemodified

# JWT
JWT_SECRET=tobemodified
JWT_EXPIRES_IN=1d

TELEGRAM_BOT_TOKEN=tobemodified

# Web3 QuickNode
QUICK_NODE_ETH_URL_RPC=tobemodified
QUICK_NODE_ETH_URL_WSS=tobemodified
QUICK_NODE_BLAST_SEPOLIA_URL_RPC=tobemodified
QUICK_NODE_BLAST_SEPOLIA_URL_WSS=tobemodified
QUICK_NODE_BLAST_URL_RPC=tobemodified
QUICK_NODE_EASYX_URL_WSS=tobemodified

BLAST_UPDATE_TOKEN=tobemodified

INVITE_TOKEN_LENGTH=tobemodified

BACKEND_URL=tobemodified
BACKEND_URL_DOCKER=tobemodified


# ADMIN DATA
ADMIN_WALLET=tobemodified


PLATFORM_API_URL=tobemodified